#friends-display-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--skin);
  opacity: 50%;
  padding: 10px 0px;
  color: var(--green);
  font-size: 16px;
  width: 80%;
  margin: 0% 10%;
  border-radius: 15px;
  margin-bottom: 10px;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: 3px solid var(--green);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.gift,
.melon {
  width: 80px;
  height: 30px;
  border: 2px solid tomato;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  border-radius: 15px;
  margin-right: 10px;
}
.gift:hover {
  color: tomato;
}
.fa-birthday-cake {
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: tomato;
}
.melon {
  width: 200px;
  font-size: 15px;
  border: 2px solid yellowgreen;
}
.melon:hover {
  color: yellowgreen;
}
